{% extends 'main/ecomerce/baseeco.html' %}
{% load static %}
{% block content %}
<style>
    .container.mb-4 {
        margin-top: 20px;
    }

    .input-group {
        width: 100%;
    }

    .form-control {
        border-radius: 20px 0 0 20px;
    }

    .btn-primary {
        border-radius: 0 20px 20px 0;
        background-color: #3c8dbc;
        border-color: #3c8dbc;
    }

    .btn-primary:hover {
        background-color: #357ca5;
        border-color: #357ca5;
    }

    .product-card {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 15px;
        transition: box-shadow 0.3s ease;
    }

    .product-card:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="container mb-4">
    <form id="searchForm" class="form-inline">
        <div class="input-group">
            <input type="text" class="form-control" id="searchInput" placeholder="Search by name">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary mb-2">
                    <i class="fas fa-search"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row" id="product-list">
    {% for product in products %}
    <div class="col-md-4 product-card">
        <div>
            <img src="{{ product.product_image.url }}" alt="{{ product.name }}" class="img-fluid">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p><img style="height: 10%; width: 10%;" src="{% static 'images/coin/download.jpg' %}" alt="Coin Image"> :  {{ product.selling_price }}</p>
            <a href="{% url 'redeem_detail' product_id=product.id %}" class="btn border border-secondary rounded-pill px-3 text-primary">
                <i class="fa fa-eye me-2 text-primary"></i> View Details
            </a>
            <button class="btn btn-link add-to-wishlist-btn" data-product-id="{{ product.id }}">
                <i class="fas fa-heart"></i>
            </button>
        </div>
    </div>
    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.add-to-wishlist-btn').click(function(event) {
            event.preventDefault();
            var productId = $(this).data('product-id');
            $.ajax({
                type: 'POST',
                url: '/add_to_wishlist/' + productId + '/',
                dataType: 'json',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                },
                success: function(response) {
                    alert(response.message);
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ': ' + xhr.responseText);
                }
            });
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const input = document.querySelector('#searchInput');
        const products = document.querySelectorAll('.product-card');

        input.addEventListener('input', filterProducts);

        function filterProducts() {
            const searchTerm = input.value.toLowerCase();

            products.forEach(function (product) {
                const productName = product.querySelector('h3').textContent.toLowerCase();
                const productDescription = product.querySelector('p').textContent.toLowerCase();

                product.style.display = (productName.includes(searchTerm) || productDescription.includes(searchTerm)) ? 'block' : 'none';
            });
        }
    });
</script>

{% endblock %}
