{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booked Events</title>
    
</head>
<body>
    
    
    <h1>Events Booked by {{ user.username }}</h1>
    <ul>
        {% for event_booking in booked_events %}
            <li>
                
                <strong>Event Name:</strong> {{ event_booking.event.name }}<br>
                <strong>About the event:</strong> {{ event_booking.event.description }}<br>
                <strong>Venue :</strong> {{ event_booking.event.location }}<br>
                <strong>Date :</strong> {{ event_booking.event.date }}<br>
                <strong>Time :</strong> {{ event_booking.event.time }}<br>
                <strong>Attendees:</strong> {{ event_booking.attendees }}<br>
            </li>
        {% empty %}
            <p>No events booked yet.</p>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}
