{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <!-- Include Bootstrap CSS (you can replace this with your own styles) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    
</head>

<body>
    {% block content %}
    
            <body>
                <a href="{% url 'post_content' %}" class="btn btn-secondary" style="margin-top: 20px; color: black;text-align: end;">New Post</a>
            
                <div class="container">
            
                    <h1 class="mt-2" style="color: black; font-size: 32px; margin-bottom: 10px;">Explore All Posts</h1>
            
                    <div class="row">
                        <div class="col-md-6">
                            {% for post in all_posts %}
                            <div class="post-container" style="width: 90%; margin:; border: 1px solid #dee2e6; border-radius: 8px; padding: 15px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); margin-bottom: 15px;">
                                <h2 style="color: black; font-size: 18px;">{{ post.title }}</h2>
                                {% if post.image %}
                                <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100%; height: auto; max-height: 200px; border-radius: 8px; margin-bottom: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                                {% endif %}
                                <p class="post-content" style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; color: #495057; line-height: 1.6; margin-bottom: 0.1em;">{{ post.content }}</p>
                                <a href="{% url 'post_detail' post.id %}" style="color: blue; text-decoration: none; font-size: 14px; margin-top: 0.5em; display: inline-block;">Read more...</a>
                                <p class="text-muted">Created at: {{ post.created_at }}</p>
                            </div>
                            {% endfor %}
                        </div>
            
                        <div class="col-md-6">
                            <h1 class="mt-2" style="color: black; font-size: 32px; margin-bottom: 10px;">Recently Shared </h1>
             
                            <div class="d-flex justify-content-end"> <!-- Use Bootstrap utility classes to align to the right -->
                                <div>
                                    {% for post in all_posts %}
                                    <div class="post-container" style="width:420px; margin:ri; border: 1px solid #dee2e6; border-radius: 8px; padding: 15px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); margin-bottom: 15px;">
                                        <h2 style="color: black; font-size: 18px;">{{ post.title }}</h2>
                                        {% if post.image %}
                                        <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100%; height: auto; max-height: 200px; border-radius: 8px; margin-bottom: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                                        {% endif %}
                                        <p class="post-content" style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; color: #495057; line-height: 1.6; margin-bottom: 0.1em;">{{ post.content }}</p>
                                        <a href="{% url 'post_detail' post.id %}" style="color: blue; text-decoration: none; font-size: 14px; margin-top: 0.5em; display: inline-block;">Read more...</a>
                                        <p class="text-muted">Created at: {{ post.created_at }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
            
                                <div style="margin-left: 20px;"> <!-- Add margin to create a gap -->
                                    {% if user_posts %} 
                                    <h1 class="mt-2" style="color: black; font-size: 32px; margin-bottom: 10px;">Your  Posts</h1>
            
                                    {% for post in user_posts %}
                                    <div class="post-container" style="width: 180px; margin:; border: 1px solid #dee2e6; border-radius: 8px; padding: 15px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); margin-bottom: 15px;">
                                        <h2 style="color: black; font-size: 18px;">{{ post.title }}</h2>
                                        {% if post.image %}
                                        <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100%; height: auto; max-height: 200px; border-radius: 8px; margin-bottom: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                                        {% endif %}
                                        <p class="post-content" style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; color: #495057; line-height: 1.6; margin-bottom: 0.1em;">{{ post.content }}</p>
                                        <a href="{% url 'post_detail' post.id %}" style="color: blue; text-decoration: none; font-size: 14px; margin-top: 0.5em; display: inline-block;">Read more...</a>
                                        <p class="text-muted">Created at: {{ post.created_at }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </body>
            {% endblock %}

            </div>
        </div>
    </div>
</body>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            var posts = {% verbatim %}{{ posts|safe }}{% endverbatim %}; // Make sure to include the posts in your template
            var currentIndex = 0;
    
            function rotatePosts() {
                // Get the current post container and hide it
                var currentPost = $('.post-container').eq(currentIndex);
                currentPost.hide();
    
                // Increment index or reset to 0 if the last post is reached
                currentIndex = (currentIndex + 1) % posts.length;
    
                // Get the next post container and show it
                var nextPost = $('.post-container').eq(currentIndex);
                nextPost.show();
            }
    
            // Hide all posts except the first one
            $('.post-container:gt(0)').hide();
    
            // Rotate posts every 2 seconds
            setInterval(rotatePosts, 2000);
        });
    </script>
    

    <!-- Include Bootstrap JS (optional, depends on your requirements) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    

