<!-- userlist/user_list.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
                   
<head>
    <title>Bin List</title>
</head>
<body>
    <h1>Bin List</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Size</th>
                <th>Capacity</th>
                <th>Description</th>
                <th>Available Bins</th>
                <th>Image</th>

            </tr>
        </thead>
        <tbody>
            {% for bin in bins %}
                <tr>
                    <td>{{ bin.title }}</td>
                    <td>{{ bin.size }}</td>
                    <td>{{ bin.capacity }}</td>
                    <td>{{ bin.description }}</td>
                    <td>{{ bin.number_of_bins }}</td>
                    <td>
                        {% if bin.image %}
                            <img src="{{ bin.image.url }}" alt="{{ bin.title }}" width="100">
                        {% else %}
                            No Image
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Add this to your template where you want to display the notification -->
{% if notification_message %}
<div class="{% if 'error' in notification_message %}error{% else %}success{% endif %}">
    {{ notification_message }}
</div>
{% endif %}

    <br>
    <a href="{% url 'add_bin' %}" class="btn btn-primary">Add a New Bin</a>
</body>
<style>
    /* userlist/static/userlist/styles.css */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
</style>
</div>
                    
</div>
</div>
</html>
{% endblock content %}