{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection Details</title>
    <style>
        
            .bin-name {
                font-weight: bold; /* Make the text bold */
                color: #007bff; /* Set the text color to blue (you can choose your own color) */
            }
        </style>
        
    </style>
</head>
<body>
    <h1>Collection Details</h1>
    <ul>
        {% if waste_collections %}
            {% for waste_collection in waste_collections %}
                <li>
                    <strong class="bin-name">Bin Name:</strong> {{ waste_collection.booking.booking_id }}<br>
                    <strong>Collection Status:</strong> {{ waste_collection.collection_status }}<br>
                    <strong>Collection Date and Time:</strong> {{ waste_collection.timestamp }}<br>
                    <form method="post" action="{% url 'delete_waste_collection' waste_collection.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <br><br>
                </li>
            {% endfor %}
        {% else %}
            
                <p>No waste collection message available from EcoRecover.</p>
            
        {% endif %}
        <br>
    </ul>
</body>

</html>
{% endblock content %}