 <!-- userlist/user_list.html -->
 {% extends 'base.html' %}
 {% load static %}
 {% block content %}

<body>
    <h1>Bin Booking Events</h1>
    <table>
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Bin</th>
                <th>Event Date and Time</th>
                <th>Event Location</th>
                <th>Delivery Time</th>
                <th>Pickup Time</th>
                <th>Number of Bins Needed</th>
            </tr>
        </thead>
        <tbody>
            {% for event in bin_booking_events %}
            <tr>
                <td>{{ event.booking_id }}</td>
                <td>{{ event.bin }}</td>
                <td>{{ event.event_date_time }}</td>
                <td>{{ event.event_location }}</td>
                <td>{{ event.delivery_time }}</td>
                <td>{{ event.pickup_time }}</td>
                <td>{{ event.number_of_bins_needed }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <style>    
        /* userlist/static/userlist/styles.css */
    table {
        width: 100%;
        border-collapse: collapse;
    }
    
    table, th, td {
        border: 1px solid #ccc;
    }
    
    th, td {
        padding: 10px;
        text-align: left;
    }
    
    thead {
        background-color: #f2f2f2;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    tr:hover {
        background-color: #ddd;
    }   </style>


</body>
</html>
{% endblock content %}