{% extends 'base.html' %}
{% block content %}
                            <head>
                                <meta charset="UTF-8">
                                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                                <title>Booking Details for {{ user.username }}</title>
                            </head>
                            <body>
                                <h1>Booked Bin Details of {{ user.username }} </h1>
            
                                <ul>
                                    {% if bookings %}
                                        {% for booking in bookings %}
                                            <li>
                                                <strong>Bin Size:</strong> {{ booking.bin_size }}<br>
                                                <strong>Bin Capacity:</strong> {{ booking.bin_capacity }}<br>
                                                <strong>Collection Day:</strong> {{ booking.collection_period }}<br>
                                                <strong>House Number:</strong> {{ booking.house_number }}<br>
                                                <strong>Address for Bin Delivery:</strong> {{ request.user.userprofile.address }}<br>
                                                <strong>Landmark near:</strong> {{ booking.landmark }}<br>
                                    
                                                
                                                <a href="{% url "orderforhome" %}" class="btn btn-success">Book Extra Bin</a>
                                                <a href="{% url 'edit_booking_details' booking.booking_id %}" class="btn btn-primary">Edit Location Details and Collection Date</a>
                                                <a href="{% url 'update_bin_status' booking.booking_id %}" class="btn btn-warning">Update Bin Status</a>

                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <p>No bookings yet</p>
                                    {% endif %}
                                </ul>
                            </body>
                        </div>
                    </div>
                </div>
            </div>
            
                        <!-- Include this HTML in your base.html file, preferably at the end of the <body> section -->


<!-- Add this CSS in your CSS file or within a <style> tag in your HTML -->
<style>

</style>



                        

</html>
{% endblock %}