{% extends 'base.html' %}
{% block content %}
                        <body>
                            <h1>Bins with Low Fill Level</h1>
                            {% if bin_details %}
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Booking ID</th>
                                            <th>Username</th>
                                            <th>Address</th>
                                            <th>Mobile Number</th>
                                            <th>Fill Level</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for bin in bin_details %}
                                        <tr>
                                            <td>{{ bin.booking_id }}</td>
                                            <td>{{ bin.username }}</td>
                                            <td>{{ bin.address }}</td>
                                            <td>{{ bin.mobile_number }}</td>
                                            <td>{{ bin.fill_level }}%</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>No bins with low fill levels available for exchange.</p>
                            {% endif %}
                        </body>
                        

<style>
    /* userlist/static/userlist/styles.css */
    table {
        width: 100%;
        border-collapse: collapse;
    }
    
    table, th, td {
        border: 1px solid #ccc;
    }
    
    th, td {
        padding: 10px;
        text-align: left;
    }
    
    thead {
        background-color: #f2f2f2;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    tr:hover {
        background-color: #ddd;
    }  
</style>
</html>
{% endblock %}