{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="text-center">Collection Requests</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% if collection_requests %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Recyclable Type</th>
                        <th>Location</th>
                        <th>Collection Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in collection_requests %}
                    <tr>
                        <td>{{ request.user.username }}</td>
                        <td>{{ request.recyclable_type }}</td>
                        <td>{{ request.location }}</td>
                        <td>{{ request.collection_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-info" role="alert">
                No current requests.
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
