{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up & Sign In</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">



<body>
    <div class="form-container active" id="signup-container">
        <img style ="margin-left:25px;"src="{% static 'img/login/logo.png' %}" alt="Logo" width="300px" height="80px">
    <form id="signup-form" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
    {% csrf_token %}
    <input type="text" id="name" placeholder="Username" name="name" required>
    <span id="nameError" class="error"></span>
    <span id="name2Error" class="error"></span>

    <input type="email" id="email" placeholder="Email" name="email" required>
    <span id="emailError" class="error"></span>
    <span id="email2Error" class="error"></span>

    <input type="text" id="company_name" placeholder="Company name" name="company" required>
    <span id="companyError" class="error"></span>

    <input type="text" id="gstin" placeholder="GSTIN" name="gstin" required>
    <span id="gstinError" class="error"></span>
    <span id="gstin1Error" class="error"></span>

    <div id="responseMessage"></div>

    <label style="margin-left:27px; font-size:15px">Upload Document</label>
    <input style="margin-left: 25px;" type="file" id="document" placeholder="Document" name="document" required
    accept="application/pdf" title="Please select a PDF file">
    <span id="documentError" class="error"></span>

    <input type="password" id="password" placeholder="Password" name="password" required>
    <span id="passwordError" class="error"></span>

    <input type="password" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" required>
    <span id="confirmPasswordError" class="error"></span>

    <button class="submitbtn" type="submit" id="submitButton">Sign Up</button>
    <!-- <p class="or"> OR</p> -->
</form>

